body {
    font-family: Arial, "sans-serif";
    font-size: 18px;
}

.recipes-img {
    width: 600px;
    height: 550px;
}

h1 {
    font-family: Helvetica, "sans-serif";
    background-color: black;
    color: orange;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

h2 {
    text-decoration: underline;
    text-decoration-color: orange;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.btn-home {
    background-color: orange;
    font-size: 24px;
}

.btn-home:hover {
    background-color: black;
    color: orange;
}

ol li {
    list-style-type: none;
}